
.kdm_dynamic_file_container {
	
}

.kdm_dynamic_file_add_new_button {
	border: 3px solid black;
}

.kdm_dynamic_file_upload {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);

}



.kdm_file_btn_container {
	position: relative;
	overflow: hidden;
	margin: 0px;
	display: block;
	cursor: pointer;
}

.kdm_file_btn_container > span {
	cursor: pointer;
}

.kdm_file_btn_container .kdm_file_info {
	border: 1px solid black;
	cursor: pointer;
}
